<% if current_user != post.user %>
    <span class="like float-left">
    <% if post.like?(current_user) %>
      <%= form_for(post.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :i, "", class: "fas fa-heart" %>
          <%= content_tag :span, "#{post.likes_count}", class: nil %>
        <% end %>
      <% end %>
    <% else %>
      <%= form_for(post.likes.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :post_id, post.id %></div>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :i, "", class: "far fa-heart" %>
          <%= content_tag :span, "#{post.likes_count}", class: nil %>
        <% end %>
      <% end %>
    <% end %>
  </span>
<% end %>