<div class="container text-center mb-5">
    <%= render 'layouts/flashes' %>
    <h1>ユーザーページ</h1>
    <div class="container-box mx-auto">
        <% if @user.image.attached? %>
        <%= image_tag @user.image.variant(resize:"200x200"), class: "profile_image my-4" %>
        <% else %>
        <%= image_pack_tag 'default.jpg', class: "profile_image my-4", :size => "200x200" %>
        <% end %>
        <h2 class="mb-3 mx-auto"><%= @user.name %></h2>
        <div class="follow-info">
            <%= link_to "フォロー数 #{@user.followings.count}",followings_path %>
            <%= link_to "フォロワー数 #{@user.followers.count}",followers_path %>
        </div>
        <%= render 'users/follow' %>
        <div class="tabs mx-auto" id="post_area">
            <input id="post" type="radio" name="tab_item" checked>
            <label class="tab_item" for="post">投稿</label>
            <input id="like" type="radio" name="tab_item">
            <label class="tab_item" for="like">イイね</label>
            <input id="favorite" type="radio" name="tab_item">
            <label class="tab_item" for="favorite">お気に入り</label>
            <div class="tab_content" id="post_content">
                <div class="tab_content_description">
                    <%= render partial: 'posts/cards', collection: @posts, as: "post" %>
                </div>
            </div>
            <div class="tab_content" id="like_content">
                <div class="tab_content_description">
                    <%= render partial: 'posts/cards', collection: @likes, as: "post" %>
                </div>
            </div>
            <div class="tab_content" id="favorite_content">
                <div class="tab_content_description">
                    <%= render partial: 'posts/cards', collection: @favorites, as: "post" %>
                </div>
            </div>
        </div>
    </div>
</div>