
<%= link_to post_path(post) do %>
<div class="card col-12 my-2 px-0">
    <div class="row mx-100" style="width:840px">
        <div class="col-md-4 my-auto">
            <% if post.images.attached? %>
            <% post.images.first(1).each do |image| %>
                <%= image_tag image , class: "card-img-top img-fluid", :size => '200x200' %>
            <% end %>
            <% else %>
            <%= image_tag 'no_image.jpg', class: "card-img-top img-fluid", :size => '200x200' %>
            <% end %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title text-left"><%= post.title %></h3>
                <p class="card-text text-left"><%= post.content %></p>
            </div>
        </div>
    </div>
</div>
<% end %>
