<% set_meta_tags title: "#{@post.title}を編集", description: "#{@post.title}の編集画面です。", noindex: true %>
<div class="container mb-5">
    <%= render "layouts/error_messages" %>
    <h1 class="text-center">投稿内容を編集</h1>
    <div class="container-box mx-auto">
        <%= form_for(@post) do |f| %>
        <div class="field mt-4 pl-3 text-left">
        <%= f.label :images,class: 'list' %><br />
    　　<%= f.file_field :images,class: "ml-3" ,multiple: true %>
  　　　　</div>
 
  　　　　<div class="field mt-4 pl-3 text-left">
    　　<%= f.label :title,class: 'list' %><br />
    　　<%= f.text_field :title,value: @post.title ,class: "form-control ml-3",maxlength: "30" %>
  　　　　</div>
  　　　　
  　　　　<div class="field mt-4 pl-3 text-left">
    　　<%= f.label :content,class: 'list' %><br />
    　　<%= f.text_area :content,value: @post.content ,class: "form-control ml-3",maxlength: "1000",row: 10 %>
  　　　　</div>
  　　　
        <div class="actions pl-3">
        <%= f.submit "保存",class: 'btn btn-danger btn-lg ml-3' %>
        </div>
        <% end %>
    </div>
</div>