<div class="container mb-5">
    <%= render "layouts/error_messages" %>
    <h1 class="text-center">新規投稿</h1>
    <div class="container-box mx-auto">
        <%= form_for(@post) do |f| %>
        <div class="field mt-4">
          <%= f.label :images,class: 'list',style: "margin-left:45px;" %><br />
        </div>
        <ul id="preview">
            <div id="upload_area" tabindex:"0">
                <%= f.label :images, class: "upload-label", for: "post_images_0", data: {label_id: 0 } do %>
                <%= f.file_field :images, class: "upload-fields", id: "post_images_0", style: "display:none;", multiple: true %>
                <pre><i class="fas fa-camera fa-lg"></i>アップロード</pre>
                <% end %>
            </div>
        </ul>
   　　　<div class="field">
    　  　  <%= f.label :title,class: 'list' %><br />
          <%= f.text_field :title,class: "form-control ml-4 mt-3",maxlength: "30" %>
  　　　　</div>
  　　　　
  　　　　<div class="field">
    　　<%= f.label :content,class: 'list ml-2' %><br />
    　　<%= f.text_area :content,class: "form-control ml-4",maxlength: "1000",rows: 12 %>
  　　　　</div>
  　　　
  　　　　<div class="field">
    　　<%= f.label :category,class: 'list ml-2' %><br />
    　　<%= f.collection_select :category_id, Category.all, :id, :name, { :prompt => true } , { :class => "form-control ml-4" } %>
  　　　　</div>
  　　　　
        <div class="actions ml-4">
        <%= f.submit "投稿",class: 'btn btn-danger btn-lg my-3' %>
        </div>
        <% end %>
    </div>
</div>