<div class="container text-left mb-5">
    <%= render 'layouts/flashes' %>
    <h1 class="text-center">投稿内容</h1>
    <div class="row" id="content_area">
        <div class="container-box mx-auto px-5 col-md-8">
            <div class="content">
                <h2 class="my-4"><%= @post.title %></h2>
                <% @post.images.each do |image|%>
                <%= image_tag image.variant(resize: "150x150"),class: "ml-3" %>
                <% end %>
                <p class="mt-2"><%= @post.content %></p>
                <div id="post_<%= @post.id %>_buttons">
                    <%= render partial: 'likes/like', locals: { post: @post } %>
                    <%= render partial: 'favorites/favorite', locals: { post: @post } %>
                </div>
                <% if @user == current_user %>
                <div class="edit-destroy" >
                    <%= link_to '編集', edit_post_path(@post) %>
                    <span class="mr-2"><%= link_to '削除', post_path(@post), method: :delete, data: { confirm: "#{@post.title}を削除してもよろしいですか？" } %></span>
                </div>
                <% end %>
                <%= link_to @user do %>
                <% if @user.image.attached? %>
                <%= image_tag @user.image, class: "profile_image_small my-4" %>
                <% else %>
                <%= image_tag 'default.jpg', class: "profile_image_small my-4" %>
                <% end %>
                <%= @user.name %>
                <% end %>
            </div>
            <% if user_signed_in? %>
            <% if @post_comments.exists? %>
            <div class="comment-list py-4">
                <%= content_tag(:label,"コメント一覧",class: "list ml-4") %><br />
                <%= render partial: 'comments/comment_list', collection: @post_comments, as: "comment" %>
            </div>
            <% else %>
            <div class="mx-auto py-4">
                <%= content_tag(:label,"コメント一覧",class: "list ml-4") %><br />
                <p class="mt-3">コメントがありません。</p>
            </div>
            <% end %>
            <%= render 'comments/comment_form', locals: { comment: @comment } %>
            <% else %>
            <p class="mt-3">コメントを確認、書き込みたい方はログインしてください。</p>
            <%= link_to 'ログイン',login_path, class:'btn btn-danger btn-lg my-2' %>
            <% end %>
        </div>
        <div class="col-md-4" id="side_area">
            
        </div>
    </div>
</div>