<div class="container text-center mb-5">
    <h1>投稿内容</h1>
    <div class="container-box mx-auto px-5">
        <div class="content">
            <h2 class="my-4 mx-auto"><%= @post.title %></h2>
            <p><%= @post.content %></p>
            <%= render 'likes/like', collection: @post %>
            <%= render 'favorites/favorite', collection: @post %>
        <%= link_to @user do %>
        <% if @user.image.attached? %>
        <%= image_tag @user.image, class: "profile_image_small my-4" %>
        <% else %>
        <%= image_tag 'default.jpg', class: "profile_image_small my-4" %>
        <% end %>
        <%= @user.name %>
        <% end %>
        </div>
        <% if user_signed_in? %>
        <%= render 'comments/comment_list', collection: @post_comments %>
        <%= render 'comments/comment_form', collection: @comment %>
        <% else %>
        <p class="mt-3">コメントを確認、書き込みたい方はログインしてください。</p>
        <%= link_to 'ログイン',login_path, class:'btn btn-danger btn-lg my-2' %>
        <% end %>
        
    </div>
</div>