<header>
    <nav class="navbar navbar-expand-lg navbar-dark mb-3 fixed-top" style="background-color:#eb616c;">
        <a class="navbar-brand" href="/">ママぐち<i class="far fa-comment ml-2"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">サイトについて</a>
                </li>
                <% if user_signed_in? %>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">みんなの投稿</a>
                </li>
                <li class="nav-item dropdown">
                    <% if current_user.image.attached? %>
                    <%= link_to "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", role: "button", data: { toggle: "dropdown" } , aria: { haspopup: "true", expanded: "false" } do %>
                    <%= image_tag current_user.image.variant(resize:"20x20"), class: "profile_image" %>
                    <%= current_user.name %>
                    <% end %>
                    <% else %>
                    <%= link_to "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", role: "button", data: { toggle: "dropdown" } , aria: { haspopup: "true", expanded: "false" } do %>
                    <%= image_pack_tag 'default.jpg', class: "profile_image", :size => "20x20" %>
                    <%= current_user.name %>
                    <% end %>
                    <% end %>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                        <%= link_to "マイページ", user_path(current_user), class: "nav-link dropdown-item text-secondary pl-2" %>
                        <%= link_to "ログアウト", users_sign_out_path, method: :delete, class: "nav-link dropdown-item text-secondary pl-2" %>
                    </div>
                </li>
                <% else %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">ログイン</a>
                </li>
                <% end %>
            </ul>
            <% if user_signed_in? %>
            <%= render 'posts/search_form' %>
            <% end %>
        </div>
    </nav>
</header>

