<%= link_to new_post_path do %>
<button class="fixed-button"><%= image_pack_tag('create_post.png') %></button>
<% end %>
<% set_meta_tags title: "#{@user.name}さんのタイムライン", description: "#{@user.name}さんのホーム画面です。", noindex: true %>
<div class="container text-center mb-3">
    <%= render 'layouts/flashes' %>
    <h1>ホーム画面</h1>
    <% if @user.image.attached? %>
    <%= image_tag @user.image.variant(resize_to_fill:[200,200]), class: "profile_image mt-4" %>
    <% else %>
    <%= image_pack_tag 'default.jpg', class: "profile_image mt-4", :size => "200x200" %>
    <% end %>
    <p class="my-1"><%= @user.name %></p>
    <h2 class="my-3 mx-auto">タイムライン</h2>
</div>
<div class="container text-center mb-5" >
    <div class="row" id="contents_area" >
        <div class="col-md-8" id="post_area">
            <% if @follow_posts.exists? %>
            <%= render partial: 'posts/cards', collection: @follow_posts, as: "post" %>
            <% else %>
            <div class="card mt-2">
                <p class="pt-5" style="font-size:20px;">ユーザーをフォローしていません<br>フォローしてみましょう！</p>
                <% if @recommend_users.present? %>
                    <% @recommend_users.each do |recommend_user| %>
                    <div class="follow-box py-4">
                        <div class="follow py-4 mx-auto">
                            <div class="ml-3">
                                <%= link_to recommend_user do %>
                                <% if recommend_user.image.attached? %>
                                <%= image_tag recommend_user.image.variant(resize_to_fill: [70,70]), class: "profile_image my-auto" %>
                                <% else %>
                                <%= image_pack_tag 'default.jpg', class: "profile_image my-auto", :size => "70x70" %>
                                <% end %>
                                <span class="font"><%= recommend_user.name %></span>
                                <% end %>
            　               </div>
                        </div>
                    </div>
                    <% end %>
                <% end %>
            </div>
            <% end %>
            <div class="my-4">
                <%= paginate @follow_posts %>
            </div>
        </div>
        <div class="col-md-4" id="ranking_area">
            <%= render partial: 'posts/categories', locals: { categories: @categories } %>
            <%= render partial: 'posts/ranking', locals: { ranks: @all_ranks } %>
        </div>
    </div>
</div>